<div class="bsr-talk-card">
    <h3 class="bsr-talk-card-name">
        <span><%= talk.title %></span>
    </h3>
    <div class="bsr-talk-card-info">
        <div class="bsr-talk-card-info-speaker">
            <span>
                <% talk.speakers.forEach((speaker, i) => { %>
                    <%= speaker.name %><% if (i !== talk.speakers.length - 1) { %>, <% } %>
                <% }) %>
            </span>
        </div>
        <% if (talk.track) { %>
            <div class="bsr-talk-card-info-track">
                <span>TRACK <%= talk.track %></span>
            </div>
        <% } %>
        <div class="bsr-talk-card-info-when">
            <span><%= talk.when %></span>
        </div>
    </div>
</div>

<div class="bsr-talk-card" data-id="<%= talk.slug %>">
    <div class="bsr-talk-questions-top">
        <input type="checkbox" id="selected-only" onchange="toggleShowSelectedOnly(this.checked)">
        <label for="selected-only">Mostrar solo las preguntas seleccionadas.</label>
    </div>
    <% questions.forEach((question) => { %>
        <div class="bsr-talk-question" data-id="<%= question.id %>">
            <div class="bsr-talk-question-star" onclick="toggleQuestion(this)">
                <% include ../partials/icons/star.html %>
            </div>
            <p class="bsr-talk-question-text"><%= question.question %></p>
        </div>
    <% }) %>
</div>

<script type="text/javascript">
    const variables = {
        talkSlug: document.querySelector('.bsr-talk-card[data-id]').getAttribute('data-id')
    };
    const elements = {
        styleElement: document.querySelector('#questions-list-runtime-style'),
        selectedOnlyCheckbox: document.querySelector('#selected-only')
    };
    let state = {
        selectedQuestions: {}
    };

    function getLocalStorageKey() {
        return 'questions-state-' + variables.talkSlug;
    }

    function load() {
        const data = localStorage.getItem(getLocalStorageKey());
        if (!!data) {
            state = JSON.parse(data);
        }
    }

    function save() {
        localStorage.setItem(getLocalStorageKey(), JSON.stringify(state));
    }

    function toggleQuestion(element) {
        const parent = element.parentElement;
        const questionId = parseInt(parent.getAttribute('data-id'));
        if (state.selectedQuestions[questionId]) {
            state.selectedQuestions[questionId] = false;
            parent.classList.remove('is-selected');
        } else {
            state.selectedQuestions[questionId] = true;
            parent.classList.add('is-selected');
        }
        save();
    }

    function toggleShowSelectedOnly(value) {
        if (value) {
            elements.styleElement.textContent = '.bsr-talk-question:not(.is-selected) { display: none; }';
        } else {
            elements.styleElement.textContent = '';
        }
    }

    function render() {
        const questions = document.querySelectorAll('.bsr-talk-question[data-id]');
        questions.forEach(element => {
            const id = parseInt(element.getAttribute('data-id'));
            if (state.selectedQuestions[id]) {
                element.classList.add('is-selected');
            }
        });

        toggleShowSelectedOnly(elements.selectedOnlyCheckbox.checked);
    }

    load();
    render();
</script>


<%- contentFor('head') %>
<title><%= config.title %> - Questions for '<%= talk.title %>'</title>
<style id="questions-list-runtime-style"></style>
